{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}Welcome{% endblock %} :: Data generator</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{% static 'css/generator.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-1.3.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
    <!-- start header -->
    <div class="page-header"><a href=".."><h1>Data generator</h1></a></div>
    <!-- end header -->
    <!-- start page -->
    <!--<nav id="gdMainTabs">-->
        <!--<ul>-->
            <!--<li id="gdMainTab1"><a href="generate_new">Generate</a></li>-->
            <!--<li id="gdMainTab2"><a href="set_variables">mainTab2</a></li>-->
            <!--<li id="gdMainTab3">mainTab3</li>-->
        <!--</ul>-->
    <!--</nav>-->
    <br/>
    <div id="gdGenerateSubtab1">
             {% block content %}
            {% endblock content %}
    </div>
    <!-- end page -->
    <!-- start footer -->
    <div class="page-footer">
	<p>&copy;<a href="">MySite</a></p>
    </div>
    <!-- end footer -->
    </body>
</html>