{% extends 'base.html' %}

{% block title %}Add new{% endblock %}

{% block content %}
<div>
    <div>
        <h2>Choose table:</h2>
        <table border="1">
        {% for table in tables %}
                        <tr>
                <td><b>Table name: </b><a href="#2">{{ table.name }}</a></td>
                            </tr>
    <tr><td><b>Column</b></td><td><b>Datatype</b></td><td><b>Options</b></td></tr>
                    {% for column in columns %}
                    {% if column.table == table %}
                     <tr><td><div>{{ column.column_name }}</div></td>
                        <td><div>{{ column.datatype }}</div></td>
                     <td>#TODO</td></tr>
                    {% endif %}
                    {% endfor %}
                </tr>
        {% endfor %}
       </table>
    </div>
</div>
{% endblock %}