{% extends 'base.html' %}

{% block title %}Add new{% endblock %}

{% block content %}
<div>
    <div>
        <h2>Choose table:</h2>
        {% for table in tables %}
        <table border="1">
            <form method="POST" id="choose">
                {% csrf_token %}
                <tr>
                    <!--<td><b>Tablename: </b><a href="{% url 'generate_sql' %}" onClick="form.submit();")>{{ table.name }}</a></td>-->
                    <td><b>Tablename: </b><a href="javascript:{}" onClick="document.getElementById('choose').submit(); return false;">{{ table.name }}</a></td>
                </tr>
                <tr>
                    <td><b>Column</b></td>
                    <td><b>Datatype</b></td>
                    <td><b>Options</b></td>
                </tr>
                {% for column in columns %}
                    {% if column.table == table %}
                         <tr>
                             <td><div>{{ column.column_name }}</div></td>
                             <td><div>{{ column.datatype }}</div></td>
                             <td>#TODO</td>
                         </tr>
                    {% endif %}
                {% endfor %}
            </form>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock %}